b {
    color: cadetblue;
    font-size: 20px;
}
a {
    color: white;
}


body {
    /*background-image: url("https://i.pinimg.com/originals/19/62/7b/19627bf6cd3aa087b8b10482e9217840.jpg");*/
}

h1{
    text-align: center;
}