{% extends 'base.html'%}
{% load static %}


{% block title %}
{% endblock %}


{%block detail%}
<div class="container">
    <div class="row">
        {% for one_user in user %}
            <div class="col-6">
{#                    <button type="button" class="btn-secondary btn-lg" data-bs-toggle="button" autocomplete="off">#}
                <a type="button" class="btn btn-primary active" data-bs-toggle="button" autocomplete="off" aria-pressed="true" href="{% url 'profile' username=one_user.username%}">
                    link
                </a>
{#                    </button>#}
    {#            <a href="{{ article.pk }}">link</a>#}
                <b>{{ one_user.username }}</b> <br>
{#                    <b>{{ article.content }}</b>#}
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
{%endblock%}