<!DOCTYPE html>
{% extends 'base.html'%}
{% load static %}


{% block title %}
Product {{ article.title }}
{% endblock %}


{%block detail%}

    <h1 style="text-align: center">Форма для редактирования данных пользователя {{ user.get_full_name }}</h1>

    <div class="container">
        <div class="row">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input name="username" type="text" class="form-control" id="username" placeholder="Example input placeholder" value="{{ user.username }}">
                </div>
                <div class="mb-3">
                  <label for="first_name" class="form-label">first_name</label>
                  <input name="first_name" type="text" class="form-control" id="first_name" placeholder="Another input placeholder" value="{{ user.first_name }}">
                </div>
                <div class="mb-3">
                  <label for="last_name" class="form-label">last_name</label>
                  <input name="last_name" type="text" class="form-control" id="last_name" placeholder="Another input placeholder" value="{{ user.last_name }}">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>

        </div>
    </div>

{%endblock%}